*{
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    gap: 20px;
}

.col {
    border: 2px solid red;
    margin: 20px;
}

@media screen and (max-width: 600px){
    .row {
        flex-direction: column;
        gap: 5px;
    }
    .col {
        margin: 5px;
    }
    #logo {
        display: none;
    }

}

@media screen and (min-width: 1000px){
    .row {
        justify-content: space-between;
    }
}
